* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 21px;

}

header {
    margin-bottom: 47px;
    margin-left: 42px;


}

.link-header {
    color: #17233D;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.88px;
    text-align: center;
    margin-right: 32px;

}

.button-header {
    background: #6FBF44;
    width: 124px;
    height: 51px;
    top: 32px;
    left: 420px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #4CB538 ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
   
}

.logo-imge {
    margin: 163px 0 0 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
    width: 493px;
}

h1 {
    color: #161A49;
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;

}

p {
    color: #4B505A;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top:47px ;
    margin-bottom: 55px;
   

}

.link-link {
    color: #6FBF44;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    cursor: pointer;
}